<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <nav th:replace="fragments :: head"></nav>
    <nav th:replace="fragments :: mainHeader"></nav>
</head>
<body class="container">

<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${registerFormDTO.username}" >
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
   <!-- <div class="form-group">
        <label>Contact Email
        <input type="text" name="contactEmail" class="form-control">
        </label>
    </div>-->
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />
</form>





</body>
</html>