<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head><nav th:replace="fragments :: head"></nav></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <th:block th:each="cat : ${cats}">
      <div class="form-group">
      <label>
        <span th:text="${cat.catName}"></span>
        <input type="checkbox" name="catIds" th:value="${cat.id}" class="form-control">
      </label>
  </div>
    </th:block>

  <input type="submit" value="Delete" class="btn btn-danger">
</form>



<body>

</body>
</html>