<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <nav th:replace="fragments :: head"></nav>
</head>
<body class="container">
<h2 class="headers"> All Cats</h2>

<nav>
    <ul>
        <a href="cats/create">Create Cat</a>
    </ul>
</nav>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Date Last Seen</th>
        <th>Sex</th>
        <th>Fixed</th>
        <th>Breed</th>

    </tr>
    </thead>
  <tr th:each="cat : ${cats}">
    <td th:text="${cat.catName}"></td>
     <td th:text="${cat.catAge}"></td>
      <td th:text="${cat.catDate}"></td>
      <td th:text="${cat.catSex}"></td>
      <td th:text="${cat.catBreed}"></td>
  </tr>
</table>
<p th:unless="${cats} and ${cats.size()}">No Cats!</p>

</body>
</html>