<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <nav th:fragment="head">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{/script.js}"></script>
        <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <h1 class="header">Rescue Meow</h1>
    </nav>
</head>
<body class="container-fluid">
<nav th:fragment="navigation">
    <ul class="nav nav-pills mb-3">
        <li class="nav-item"><a class="nav-link" href="/cats">All Cats</a></li>
        <li class="nav-item"><a class="nav-link" href="/cats/create">Create Cat</a></li>
        <li class="nav-item"><a class="nav-link" href="/cats/delete">Delete</a> </li>
    </ul>
</nav>
<nav th:fragment="buttonGroup">
    <div class="btn-group">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <button class="nav-item"><a class="nav-link" href="/">Home</a></button>
        <button class="nav-item"><a class="nav-link" href="user/login">Log In</a></button>
        <button class="nav-item"><a class="nav-link" href="user/register">Register</a></button>
    </div>
</nav>

<nav th:fragment="sideLayout">
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="/">Home</a>
            <a href="user/login">Log In</a>
            <a href="user/register">Register</a>
        </div>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
</nav>

<nav th:fragment="sidelay">
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="/">Home</a>
            <a href="login">Log In</a>
            <a href="register">Register</a>
        </div>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
</nav>





</body>
</html>