<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" class="p-3 mb-2 bg-info text-dark">
<head>
    <nav th:replace="fragments :: head"></nav>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="./index.js"></script>
    <header>
    <nav th:replace="fragments :: buttonGroup"></nav>
    </header>
</head>
<body class="container-fluid">

<div class="center-text">
    <h5>Welcome to Rescue Meow, my cat rescue website! We are dedicated to helping cats in need find loving homes
        and providing them with the care they deserve. Our team is committed to making a difference in the lives of these furry friends,
        and we believe that every cat deserves a chance at a happy and healthy life. We hope that you will join us in our mission to save
        and protect cats, and that you will find the perfect addition to your family through rescue efforts.</h5>
</div>
<hr>

<div class="scroll-container">
    <img th:src="@{/catimages/salem_Cat.jpg}"  width="600px" height="400px" alt="kitten1">
    <img th:src="@{/catimages/kitties1.jpg}"  width="600px" height="400px" alt="kitten3">
    <img th:src="@{/catimages/kitties2.jpg}"  width="600px" height="400px" alt="kitten4">
    <img th:src="@{/catimages/Mimi1.jpg}"  width="500px" height="400px" alt="kitten5">
</div>
<br>




<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJjo0344wmV6MNeFCM294fv1TGlLLHr98&callback=initMap&v=weekly"
        defer
></script>
<hr>
<footer>
    <p>&copy; 2023 RescueMeow. All rights reserved.</p>
</footer>
</body>
</html>