<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <nav th:replace="fragments :: head"></nav>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="./index.js"></script>
    <header>
        <nav th:replace="fragments :: newHeader"></nav>
    </header>
    <style>
        #map {
            height: 400px;
            margin-bottom: 20px;
        }
         body {
         background-color: #a4c4e2;
}
.cat-icon {
            width: 100px; /* Adjust the size as needed */
            height: 100px; /* Adjust the size as needed */
        }

    </style>
</head>
<body>
    <div id="map"></div>
<script>
     var map = L.map('map').setView([39.072694, -94.546593], 16);
     L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}).addTo(map);


   var kittyIcon = L.icon({
    iconUrl: '/catimages/cuteKitty.png',
    iconSize:     [38, 38], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [22, 94] // point from which the popup should open relative to the iconAnchor
});
    L.marker([39.072694, -94.546593], {icon: kittyIcon}).addTo(map).bindPopup('Meow');
L.marker([39.072877, -94.546943], {icon: kittyIcon}).addTo(map).bindPopup('Meow');
L.marker([39.073173, -94.545918], {icon: kittyIcon}).addTo(map).bindPopup('Rawr');
L.marker([39.072357, -94.546492], {icon: kittyIcon}).addTo(map).bindPopup('Meow');
L.marker([39.072844, -94.547104], {icon: kittyIcon}).addTo(map).bindPopup('Meow');
L.marker([39.072648, -94.546584], {icon: kittyIcon}).addTo(map).bindPopup('Meow');

</script>



            <!-- INTRO -->
            <div class="w3-container container">
                <h3 style="text-align: center; margin-top: 0;">Introducing RescueMeow: The Ultimate Neighborhood Cat Tracking Experience</h3>
                    <p class="mdl-typography--headline" style="font-size:20px;">

                        RescueMeow is an innovative and exciting feature for the website/game that I am building, designed to showcase logged cats in your area.
                        With RescueMeow, users can explore a virtual map that displays the locations of neighborhood cats, creating a dynamic and interactive experience.
                        Whether you're a cat lover, a curious explorer, or simply seeking feline companionship, RescueMeow offers a delightful way to discover and connect with the adorable cats in your community.
                        Get ready to embark on a cat-filled adventure as you navigate the map, uncovering the whereabouts of these charming creatures and perhaps even stumbling upon unexpected surprises along the way.
                        Join us on RescueMeow and let the journey begin!
                    </p>
                </div>
<br>

    <div class="w3-container w3-blue">
        <h2 class="w3-center" style="font-size:30px; padding: 3px;">Rescue Cats & Kittens</h2>
    </div>
    <section>
        <div class="w3-content">
            <div class="w3-display-container" style="float: left; width: 50%;">
                <img class="mySlides w3-border-top w3-border-bottom" th:src="@{/catimages/k1.jpeg}" style="width:100%; border: 5px solid black;">
                <img class="mySlides w3-border-top w3-border-bottom" th:src="@{/catimages/k2.jpeg}" style="width:100%; border: 5px solid black;">
                <img class="mySlides w3-border-top w3-border-bottom" th:src="@{/catimages/k3.jpeg}" style="width:100%; border: 5px solid black;">
                <img class="mySlides w3-border-top w3-border-bottom" th:src="@{/catimages/k4.jpeg}" style="width:100%; border: 5px solid black;">
                <img class="mySlides w3-border-top w3-border-bottom" th:src="@{/catimages/k5.jpeg}" style="width:100%; border: 5px solid black;">
                <img class="mySlides w3-border-top w3-border-bottom" th:src="@{/catimages/k6.jpeg}" style="width:100%; border: 5px solid black;">
                BigButt
            </div>
            <div style="float: right; width: 50%;">

                <article>
                    <p style="font-size:19px;">
                        As you browse through these captivating cat photos, it's important to remember that behind each adorable face lies a story.
                        These feline companions are just a few among the thousands in need of assistance. By participating in this game, you have a unique opportunity to make a difference in their lives. Your involvement can help raise awareness, gather resources, or even directly contribute to initiatives that provide care, shelter, and love to these precious creatures.
                        So as you enjoy these delightful images, know that your engagement here is not only entertaining but also has the power to bring positive change to the lives of countless cats in need.
                    </p>

                </article>
            </div>
        </div>

        <!--Script below belongs to images above to scroll -->
        <script>
var slideIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > x.length) {slideIndex = 1}
  x[slideIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

    </section>

<footer>
    <p class="text-center w3-blue" style="padding: 30px;">&copy; 2023 RescueMeow. All rights reserved.</p>
</footer>
</body>
</html>
